body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  flex: 1;
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  background-image: url("https://www.publicdomainpictures.net/pictures/360000/velka/blue-sky-background-with-clouds-1596445203nMi.jpg");
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  font-weight: bold;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 5px;
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

#currentDay {
  font-weight: bold;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
